.header {
    margin: 0;
    padding: 50px 0;
    background-image: url("../images/donation7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;

}
.lets-help h1 {
    color: white;
}
.lets-help p {
    color: white;
}

h1 {
    text-align: center;

    font-weight: 700;
    font-size: 50px;
}
p {
    text-align: center;
}
.btn-primary {
    text-align: center;
    padding: 40px;

}
.btn-sec {
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    height: 50px;
    border-radius: 5px;
    background-color: #e44a63;
}
.donate-today {
    padding: 100px;
}
.container-item {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.container-value {

    padding: 30px 20px;
    font-size: 25px;
    font-weight: 700;

}
.container-value:hover {
    color: red;
    background: pink;
    border: 0.3px solid red;

}
.amount{
    text-align: center;
    padding: 30px 0 10px;
    
}
input{
    border: 0;
}
.donate-plan{
    display: flex;
    gap: 30px;
    
    
}
.d-p{
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.their-lives, .they-need{
    display: flex;
    justify-content: space-around;
    padding: 100px 30px;
}